#mainMenu{
	-fx-background-radius:  2.0em;

/*  -fx-background-color:  linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
   -fx-background-color: linear-gradient(to left, #0B486B, #0a2e42); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section {
	-fx-background-color: white;
	-fx-background-radius: 10.0 10.0 10.0 10.0;
    -fx-border-radius: 10.0 10.0 10.0 10.0;
}

.background{
	-fx-background-color:  transparent;		
	-fx-background-radius: 1em;
}

.operationButton {
	-fx-background-color:  transparent;
}

.operationButton:hover {
	-fx-background-color:  gray;
}

.nextButton {
	-fx-background-color:  #ffffff;
}

#exitButton {
	-fx-background-color:  #e00d0d;
	-fx-background-radius: 15.0 15.0 0.0 0.0;
    -fx-border-radius: 15.0 15.0 0.0 0.0;		
}